.pipeline
  %h1= pipeline.name

  %p.description
    - if lfa = pipeline.git_repo.last_fetched_at
      %span.last-fetched
        = "Last fetched #{time_ago_in_words(lfa)} ago"
    %span.github-url
      from
      - url = pipeline.git_repo.github_url
      = link_to(url, url)

  %p.switch-links
    = link_to "Current", pipeline_path(pipeline)
    = link_to "Older",   pipeline_versions_path(pipeline)

  = render partial: "partials/git_clone_error"
