= render partial: "partials/pipeline_description", 
  locals: {pipeline: @pipeline, type: :pipeline}

%ul.stages
  - @pipeline.stages.each do |stage|
    - log = stage.git_log

    %li.stage
      %h2.name= stage.name

      = render partial: "pipelines/stage_info", locals: {stage: stage}
      = render partial: "partials/git_log_stats", locals: {log: log, linker: @linker}

      - if stage.pending_changes?
        = render partial: "partials/git_commits", locals: {log: log, linker: @linker}
        - if log.more_commits?
          %p.more-git-commits ...
      - else
        %p.no-pending-changes No pending changes.
